<div class="header">
    <!-- <a class="in-page-link visually-hidden skip-link" href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}</a> -->
    <h1>hi shopi, test</h1>
    <span>template name: {{ template.name }}</span>

    <a href="/" itemprop="url" class="header__logo-image">
        {% if section.settings.svg_logo != blank %}
            {{ section.settings.svg_logo }}

        {% elsif section.settings.logo != blank %}
          {% capture image_size %}{{ section.settings.logo_max_width }}x{% endcapture %}
          <img src="{{ section.settings.logo | img_url: image_size }}"
               srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
               alt="{{ section.settings.logo.alt | default: shop.name }}"
               itemprop="logo">
        {% else %}
          {{ shop.name }}
        {% endif %}
      </a>



    <div>
    {% for link in linklists.main-menu.links %}
        {% assign child_list_handle = link.title | handleize %}
        {% if linklists[child_list_handle].links != blank %}
        <a href="{{ link.url }}">{{ link.title }}</a>
        [{% for childlink in linklists[child_list_handle].links %}
            <a href="{{ childlink.url }}">{{ childlink.title | escape }}</a>
        {% endfor %}]
        {% else %}
        <a href="{{ link.url }}">{{ link.title }}</a>
        {% endif %}
    {% endfor %}
    </div>
    <a href="/cart">Cart</a>

    {% if shop.customer_accounts_enabled %}
    {% if customer %}
        <a href="/account">account</a>
        {{ 'log out'  | customer_logout_link }}
    {% else %}
        {{ 'log in ' | customer_login_link }}
        {{ 'register' | customer_register_link }}
    {% endif %}
    {% endif %}
</div>

{% schema %}
  {
    "name": "Site Header",
    "settings": [
        {
            "type": "text",
            "id": "svg_logo",
            "label": "Logo SVG",
            "info" : "Copier coller le SVG (Balises <svg></svg> et leur contenu)"
        }
    ]
  }
{% endschema %}